@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

.mobileUser{
  font-family: 'Afacad', sans-serif;
  display: flex;
  flex-direction: column;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #FFD9CE;
}
.mobileUser > h1{
  color: #031D44;
}
.mobileLogo{
  position: absolute;
  top: 20px;
  left: 20px;
  color:#420061;
}
.mobileButtons{
  display: flex;
  width: calc(100vw - 20px);
  padding: 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.mobileLogin{
  border-radius: 10px;
  width: 90%;
  height: 50px;
  margin: 10px;
  background-color: #55868C;
  color: white;
  cursor: pointer;
  border: 1px solid #465362;
  font-size: large;
}
.mobileSignup{
  border-radius: 10px;
  width: 90%;
  height: 50px;
  background-color: #55868C;
  color: white;
  cursor: pointer;
  border: 1px solid #465362;
  font-size: large;
}
.userMobileFooter{
  display: flex;
  position: absolute;
  bottom: 15px;
}