.footer{
  display: flex;
  position: absolute;
  height: 50px;
  border: 1px solid lightgrey;
  border-radius: 15px;
  top: 90%;
  left: calc(100px + 40%); /* Adjust as necessary to prevent pressing against the right */
  right: 50px; /* Ensures the footer is always 50px from the right edge */
  align-items: center;
}
#input{
  width: 100%;
  height: 90%;
  border-radius: 15px;
  margin-left: 10px;
  border: none;
  background-color: white;
}
#input:focus{
  outline: none;
}
.button{
  width: 35px;
  height: 35px;
  border-radius: 10px;
  background-color: #848484;
  border: none;
  color: white;
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
}
